@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-giant {
    font-size: 15rem; /* Adjust this size as needed */
    line-height: 155px;
  }

  .text-big {
    font-size: 12rem; /* Adjust this size as needed */
    line-height: 130px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.main {
  margin: 100px auto;
  width: 400px;
}

body {
  background-color: #fafaee;
  /* background-color: #2ac080; */
  background-image: linear-gradient(
      90deg,
      rgba(128, 110, 96, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(128, 110, 96, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.custom-shadow {
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 1); /* Adjust the shadow size and color here */
}

.outline-text {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

/* About button animation */
.about-button {
  color: white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s;
}

.about-button:hover {
  width: 100px;
}

.plus {
  transition: opacity 0.3s;
}

.about-button:hover .plus {
  opacity: 1;
}

.plus {
  opacity: 0;
}
/* FONT */
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.space-grotesk {
  /* Apply the Space Grotesk font and specify font weights */
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* You can adjust the font weight as needed */
  font-style: normal;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* mini loading animation */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper .loader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.loader .loading {
  background: #216fe7;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0 10px;
  animation: load 0.7s ease infinite;
}

.loader .loading.one {
  animation-delay: 0.3s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.5s;
}

@keyframes load {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 15px;
    height: 15px;
  } /* Adjusted size */
}

/* animative-button */

/* <!-- HTML !-->
<button class="button-56" role="button">Button 56</button> */

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fafaee;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #fafaee;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

/* //RADIO button */

.radio-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-custom {
  position: relative;
  display: inline-block;
  width: 20px; /* Adjust the size of the radio button */
  height: 20px; /* Adjust the size of the radio button */
  margin-right: 8px; /* Add space between the radio button and the text */
  border-radius: 50%; /* Makes the radio button round */
  border: 2px solid #000; /* Sets the border color */
}

.radio-input:checked + .radio-custom::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust the size of the inner circle */
  height: 10px; /* Adjust the size of the inner circle */
  border-radius: 50%; /* Makes the inner circle round */
  background-color: #000; /* Sets the inner circle color when checked */
}

/* text shadow */

.shadow-effect {
  text-shadow: 8px 8px black;
}
